#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;
}

.searchInput {
  width: 80%;
  height: 50px;
  font-size: 24px;
  background-color: rgb(205, 205, 205);
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-left: 10px;
}

.searchBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.searchButton {
  width: 80px;
  height: 50px;
  background-color: rgb(179, 179, 179);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.block-results {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  justify-content: space-around;
  gap: 30px;
}

.card {
  width: 250px;
  padding: 30px;
  border: 2px solid #fff;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.card-img {
  max-width: 100%;
  height: 200px;
}

.container-loader {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.loader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px dashed rgb(205, 205, 205);
  animation: rotate 0.5s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.layout {
  display: flex;
  justify-content: center;
}

.container-results {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pagination {
  display: flex;
  gap: 5px;
  padding-top: 20px;
  font-size: 18px;
}

.page {
  width: 30px;
  line-height: 30px;
}

.page-button {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.container-details {
  position: relative;
  font-size: 22px;
  width: 440px;
  padding: 40px 0 0 40px;
}

.details-img {
  width: 400px;
  padding: 10px 0;
}

.details-close {
  position: absolute;
  right: 20px;
  top: 10px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  cursor: pointer;
}

.header-details {
  width: 400px;
}
