.card {
  width: 250px;
  padding: 30px;
  border: 2px solid #fff;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  color: white;
}

.card-img {
  max-width: 100%;
  height: 200px;
}
